---
layout: layouts/page.njk
permalink: /pages/
eleventyNavigation:
  key: Pages
  order: 2
---

{% for page in collections.pages %}

<h4>
  <a href="{{ page.url | url }}">{{ page.data.title }}</a>
<h4>

{% endfor %}
