---
layout: layouts/home.njk
permalink: /posts/
title: Blog Archive
templateClass: tmpl-page
date: 2011-01-01
---

<h1>Archive</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
